<!-- button.ejs -->
<script>
  function showForm(event) {
    const form = document.getElementById("message-form");
    const curtain = document.getElementById("curtain");
    form.classList.remove("hidden");
    curtain.classList.remove("hidden");
  }
</script>
<button
  class="absolute bottom-5 left-[50%] flex h-10 w-[90%] translate-x-[-50%] items-center justify-center rounded-2xl bg-accentColor p-6 text-2xl font-semibold text-white shadow-lg max-w-96"
  onclick="showForm(event)"
>
  New Message
</button>
