<!-- button.ejs -->
<script>
  function showForm(event) {
    const form = document.getElementById("message-form");
    const curtain = document.getElementById("curtain");
    form.classList.remove("hidden");
    curtain.classList.remove("hidden");
  }
</script>
<button
  class="absolute bottom-5 left-[50%] flex h-16 w-[90%] translate-x-[-50%] items-center justify-center rounded-2xl bg-accentColor text-4xl font-semibold text-white shadow-lg"
  onclick="showForm(event)"
>
  New Message
</button>
