<script>
  function hideForm(event) {
    const form = document.getElementById("message-form");
    const curtain = document.getElementById("curtain");
    form.classList.add("hidden");
    curtain.classList.add("hidden");
  }
</script>
<div
  onclick="hideForm(event)"
  class="absolute left-[50%] top-[50%] z-10 hidden h-[100vh] w-[100vw] translate-x-[-50%] translate-y-[-50%] bg-[#0000004a]"
  id="curtain"
></div>
