<div class="message flex flex-shrink-0 flex-col rounded-lg bg-[#E9E9E9] p-4">
  <div class="mb-3 flex items-center">
    <span class="text-2xl font-semibold text-primText">
      <%= name %> &nbsp;</span
    >
    <p class="text-lg font-medium text-[#9D9D9D]">| <%= date %></p>
  </div>
  <span class="text-[20px] text-primText whitespace-normal"> <%= text %> </span>
</div>